<app-header></app-header>
<main>
  <!-- below unordered list is manually written not dynamic -->
  <ul id="users">
    <!-- track is unique identifier for the loop so it can keep track on rendered list's data -->
    @for (user of users; track user.id){
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li>
    }
    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[4]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[5]" (select)="onSelectUser($event)" />
    </li> -->
  </ul>

  <!-- below is conditional rendering -->
@if (selectedUserID){ 
  <app-tasks [name]="selectedUserID.name"></app-tasks>
}
</main>
