<div class="backdrop" (click)="cancellingNewTaskCreation()"></div>
<dialog open>
  <h2>Add Task</h2>
  <form>
    <p>
      <label for="title">Title</label>
      <!-- ngModel is used to for two-way binding -->
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
    </p>
    
    <!-- this line of code is for the understanding of two-way binding that if we right in upper label then this label is also populated and it because of two-way binding
    <p>
      <label for="title2">Title</label>
      <input type="text" id="title2" name="title2" [(ngModel)]="enteredTitle"/>
    </p> -->

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input type="date" id="due-date" name="due-date" [(ngModel)]="enteredDueDate"/>
    </p>

    <p class="actions">
      <button type="button" (click)="cancellingNewTaskCreation()">
        Cancel
      </button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
